@inherits LayoutComponentBase

<div x-data="{ page: 'ecommerce', 'loaded': true, 'darkMode': false, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark bg-gray-900': darkMode === true}">
    
    <div class="flex h-screen overflow-hidden">
        <Sidebar />

        <div class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto">
            <Header />

            <main>
                <div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
                    @* <div x-data="{ pageName: 'Dashboard' }">
                        <Breadcrumb />
                    </div> *@

                    @Body
                </div>
            </main>
        </div>
    </div>
</div>